<div id="contact">
    <div class="contact">
      <h2 class="contact-title">Contact</h2>
      <ul class="contact-list">
        <li class="contact-list-item">
          <span class="contact-list-item-label">E-mail address: </span>
          <a href="mailto:raphael.martin@bashroom.com" class="contact-list-item-link">raphael.martin&#64;bashroom.com</a>
        </li>
        <li class="contact-list-item">
          <span class="contact-list-item-label">Phone number: </span>
          <a href="tel:+33652639088" class="contact-list-item-link">+33 6 52 63 90 88</a>
        </li>
        <li class="contact-list-item">
          <span class="contact-list-item-label">Whatsapp: </span>
          <a href="https://wa.me/33652639088" class="contact-list-item-link">Send a message</a>
        </li>
        <li class="contact-list-item">
          <span class="contact-list-item-label">Telegram: </span>
          <a href="https://t.me/kitsuiwebster" class="contact-list-item-link">Send a message</a>
        </li>
        <li class="contact-list-item" id="contact-discord">
          <span class="contact-list-item-label">Discord: </span>
          <p (click)="copyDiscordUsername()" class="contact-list-item-link" id="contact-discord-text">Copy</p>
        </li>
      </ul>
      <p class="contact-emoji">😎</p>
    </div>
  </div>
  