:host {
  display: block;
  width: 60%;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  white-space: normal;
  word-break: break-word;
  font-size:medium;
}

@media (max-width: 800px) {
  :host {
    width: 90%;
  }
}

.gist-container {
  max-width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
  text-align: justify;
  line-height: 1.5;
  border-radius: 10px;
}

::ng-deep .gist-container pre {
  background-color: #2d2d2d !important;
  color: #ffffff !important;
  padding: 15px !important;
  border-radius: 8px !important;
  overflow-x: auto !important;
  max-width: 100% !important;
  white-space: pre !important;
}

::ng-deep .gist-container pre code {
  background: none !important;
  color: #ffffff !important;
  display: block !important;
  font-size: 14px !important;
}

::ng-deep .gist-container p img {
  width: 100%;
}
