<div id="home">
  <div>
    <header class="home-header">
      <div class="home-header-text">
        <h1 class="home-header-title">Raphaël MARTIN</h1>
        <h2 class="home-header-subtitle">IT Freelance, Prompt Engineer, Developer</h2>
        <h3 class="home-header-location">📍 Montpellier, France</h3>
        <p class="home-header-bio">
          Passionate about IT, convinced by the values of opensource, I am
          continually training and seeking out projects that resonate with me.
          As a great self-taught, I have already developed a wide range of
          skills since I was very young around this field and always thirsty for
          knowledge, I never stop evolving in IT.
        </p>
      </div>
      <img
        loading="lazy"
        src="assets/images/profile-picture.webp"
        alt="Raphaël Martin kitsuiwebster"
        class="home-header-profilepic"
      />
    </header>

    <section class="home-social">
      <nav class="home-social-links">
        <a
          href="https://gitlab.com/kitsuiwebster"
          class="home-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/gitlab.webp"
            alt="GitLab"
          />
        </a>
        <a
          href="https://github.com/kitsuiwebster"
          class="home-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/github.webp"
            alt="GitHub"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/kitsuiwebster"
          class="home-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/linkedin.webp"
            alt="LinkedIn"
          />
        </a>
        <a
          href="https://twitter.com/kitsuiwebster"
          class="home-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/x.webp"
            alt="Twitter X"
          />
        </a>
        <a
          href="https://kitsuiwebster.medium.com"
          class="home-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/medium.webp"
            alt="Medium"
          />
        </a>
        <a
          href="https://dev.to/kitsuiwebster"
          class="home-social-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/devto.webp"
            alt="Dev.to"
          />
        </a>
        <div (click)="copyDiscordUsername()" class="home-social-link">
          <img
            loading="lazy"
            class="home-social-link-img"
            src="assets/images/social/discord.webp"
            alt="Discord"
          />
        </div>
      </nav>
    </section>

    <section class="home-languages">
      <img loading="lazy" class="home-languages-icon" />
      <div class="home-languages-flags">
        <img
          loading="lazy"
          class="home-languages-flags-img"
          src="assets/images/flags/fr.webp"
          alt="French flag"
        />
        <img
          loading="lazy"
          class="home-languages-flags-img"
          src="assets/images/flags/uk.webp"
          alt="United Kingdom flag"
        />
      </div>
    </section>

    <section class="home-skills">
      <h2 class="home-skills-title">Skills</h2>

      <h3 class="home-skills-titles">AI Technologies</h3>
      <div class="home-skills-category">
        <!-- Add AI logos and stars as necessary -->
      </div>

      <h3 class="home-skills-titles">Programming Languages</h3>
      <div class="home-skills-category">
        <!-- Add programming languages logos and stars -->
      </div>

      <h3 class="home-skills-titles">Development Tools</h3>
      <div class="home-skills-category">
        <!-- Add development tools logos and stars -->
      </div>

      <h3 class="home-skills-titles">Other Tools</h3>
      <div class="home-skills-category">
        <!-- Add other tools logos and stars -->
      </div>
    </section>

    <section class="home-certifications">
      <h2 class="home-certifications-title">Certifications</h2>
      <div class="home-certifications-professional-title">
        <!-- Add certification details here -->
      </div>
    </section>
  </div>
</div>
