.site-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // display: none;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .auth-buttons {
      margin-left: auto;
    }
  }

  .auth-buttons button {
    padding: 5px 10px;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: medium;
  }

  .auth-buttons button:hover {
    color: red;
  }
}

.site-footer {
  color: #ccc;
  text-align: center;
  padding: 10px 0;
}
