body {
    margin: 0;
    font-family: "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f1f1f1;
    color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
  }
  
  code {
    font-family: "Courier New", monospace;
  }
  
  app-root {
    width: 100%;
  }
  